#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.counteapp {
  color: gray;
}


.increaseBtn {
  color: green;
  margin: 10px;
}

.decreaseBtn {
  color: green;
  margin: 10px;
}

.resetBtn {
  color: red;
  margin: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}